.App {
  position: relative;
  max-width: 90rem;
  margin: 8rem auto;
  box-shadow: var(--shadow-dark);

  min-height: 50rem;

  display: grid;
  grid-template-columns: 60% 40%;

  overflow: hidden;
}
