@import './app/App.scss';

:root {
  --font-primary: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  --color-sunny-1: rgba(#9faf2a, 1);
  --color-sunny-2: rgba(#4f8bb9, 1);
  --color-rainy-1: rgba(#718583, 1);
  --color-rainy-2: rgba(72, 219, 251, 1);
  --color-cloudy-1: rgba(#e2560d, 1);
  --color-cloudy-2: rgba(72, 219, 251, 1);

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 1);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: var(--font-primary);
  color: rgba(#fff, 1);
  font-weight: 300;
  line-height: 1.6;
  font-size: 1.4rem;
  background-color: rgba(0, 0, 0, 0.9);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* 
  background-image: linear-gradient(
    to bottom,
    var(--color-sunny-1),
    var(--color-sunny-2)
  );
  background-size: cover;
  background-repeat: no-repeat; */

  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input,
input:active,
input:focus,
button,
button:active,
button:focus {
  outline: 0;
}

input {
  border: none;
}
